<div class="outer">
    <leftside></leftside>
    <div class="rightSide">
        <div class="dataList">
            <div class="dataTitle">
                <span>Products</span>
            </div>
            <div class="dataItem">
                <div class="dataCol" style="width: 10%;">
                    <span>ID</span>
                </div>
                <div class="dataCol" style="width: 50%;">
                    <span>Name</span>
                </div>
                <div class="dataCol" style="width: 40%;">

                </div>
            </div>
            <div class="dataItem" *ngFor="let prod of products">
                <div class="dataCol" style="width: 10%;">
                    <span>{{prod.Id}}</span>
                </div>
                <div class="dataCol" style="width: 50%;">
                    <span>{{prod.Name}}</span>
                </div>
                <div class="dataCol" style="width: 40%;">
                    <a href="/update?productid={{prod.Id}}">Update</a>
                </div>
            </div>
        </div>
    </div>
</div>