<div class="outer">
    <leftside></leftside>
    <div class="rightSide">
        <div class="updateForm">
            <div class="updateFormTitle">
                <span>Update for {{product.Name}}</span>
            </div>
            <div class="dataItem">
                <div class="dataLeft">
                    <span>Id :</span>
                </div>
                <div class="dataRight">
                    <input type="text" readonly value="{{product.Id}}" />
                </div>
            </div>
            <div class="dataItem">
                <div class="dataLeft">
                    <span>Name :</span>
                </div>
                <div class="dataRight">
                    <input type="text" [(ngModel)]="productName" value="{{productName}}" />
                </div>
            </div>
            <div class="dataItem">
                <div class="dataCenter">
                    <button (click)="updateProduct()">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
</div>